*.bin          # model weights
*.exe          # compiled binary
*.o            # object files
main           # linux binary
train-images*  # MNIST data files (too large for GitHub)
train-labels*
t10k-*